<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk370.opcua.mapper.VirtualMachineMapper">

<!--    &lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
<!--    <resultMap id="BaseResultMap" type="com.sk370.opcua.entity.VirtualMachine">-->
<!--        <result column="id" property="id"/>-->
<!--        <result column="equip_no" property="equipNo"/>-->
<!--        <result column="equip_name" property="equipName"/>-->
<!--        <result column="rotate_speed" property="rotateSpeed"/>-->
<!--        <result column="temperature" property="temperature"/>-->
<!--        <result column="created_time" property="createdTime"/>-->
<!--        <result column="created_by" property="createdBy"/>-->
<!--    </resultMap>-->


</mapper>
