<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk370.opcua.mapper.VirtualMachineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sk370.opcua.entity.VirtualMachine">
        <result column="id" property="id"/>
        <result column="equip_no" property="equipNo"/>
        <result column="equip_name" property="equipName"/>
        <result column="rotate_speed" property="rotateSpeed"/>
        <result column="temperature" property="temperature"/>
        <result column="create_time" property="createTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <!-- 保存或更新 -->
    <insert id="saveOrUpdate">
        INSERT INTO virtual_machine(
        id,
        equip_no,
        equip_name,
        rotate_speed,
        temperature,
        create_time,
        created_by,
        updated_time,
        updated_by) VALUES
        (
        #{virtualMachine.id},
        #{virtualMachine.equipNo},
        #{virtualMachine.equipName},
        #{virtualMachine.rotateSpeed},
        #{virtualMachine.temperature},
        #{virtualMachine.createTime},
        #{virtualMachine.createdBy},
        #{virtualMachine.updatedTime},
        #{virtualMachine.updatedBy}
        )ON duplicate KEY UPDATE
        equip_no = VALUES(equipNo),
        equip_name = VALUES(rotateSpeed),
        rotate_speed = VALUES(browse_name),
        temperature = VALUES(temperature),
        create_time = VALUES(createTime),
        created_by = VALUES(createdBy),
        updated_time = VALUES(updatedTime),
        updated_by = VALUES(updatedBy)
    </insert>

    <!-- 批量保存 -->
    <insert id="batchSave">
        INSERT INTO virtual_machine(
        id,
        equip_no,
        equip_name,
        rotate_speed,
        temperature,
        create_time,
        created_by,
        updated_time,
        updated_by) VALUES
        <foreach collection="virtualMachineList" item="virtualMachine" separator=",">
            (
            #{virtualMachine.id},
            #{virtualMachine.equipNo},
            #{virtualMachine.equipName},
            #{virtualMachine.rotateSpeed},
            #{virtualMachine.temperature},
            #{virtualMachine.createTime},
            #{virtualMachine.createdBy},
            #{virtualMachine.updatedTime},
            #{virtualMachine.updatedBy}
            )
        </foreach>
    </insert>

    <!-- 批量保存或更新 -->
    <insert id="batchSaveOrUpdate">
        INSERT INTO virtual_machine(
        id,
        equip_no,
        equip_name,
        rotate_speed,
        temperature,
        create_time,
        created_by,
        updated_time,
        updated_by) VALUES
        <foreach collection="virtualMachineList" item="virtualMachine" separator=",">

            (
            #{virtualMachine.id},
            #{virtualMachine.equipNo},
            #{virtualMachine.equipName},
            #{virtualMachine.rotateSpeed},
            #{virtualMachine.temperature},
            #{virtualMachine.createTime},
            #{virtualMachine.createdBy},
            #{virtualMachine.updatedTime},
            #{virtualMachine.updatedBy}
            )
        </foreach>
        ON duplicate KEY UPDATE
        equip_no = VALUES(equipNo),
        equip_name = VALUES(rotateSpeed),
        rotate_speed = VALUES(browse_name),
        temperature = VALUES(temperature),
        create_time = VALUES(createTime),
        created_by = VALUES(createdBy),
        updated_time = VALUES(updatedTime),
        updated_by = VALUES(updatedBy)
    </insert>

    <select id="selectAll" resultType="com.sk370.opcua.entity.VirtualMachine">
        select * from virtual_machine
    </select>
</mapper>
